# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Merge PR
concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
# Set default permissions as restrictive
permissions:
  id-token: write  # Required for OIDC
  contents: read
  packages: read

jobs:
  calc-code-coverage:
    name: Merge - Calculate Code Coverage
    runs-on: ubicloud-standard-30
    container: ghcr.io/frequency-chain/frequency/ci-base-image:1.5.8
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v6
      - name: Generate and Upload Code Coverage
        id: codecov
        uses: ./.github/workflows/common/codecov
        with:
          code-cov-token: ${{ secrets.CODECOV_TOKEN }}
